<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onion99.videoeditor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.onion99.videoeditor.VideoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name="com.onion99.videoeditor.SplashActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.onion99.videoeditor.Mainactivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"

            ></activity>
        <activity
            android:name="com.onion99.videoeditor.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.onion99.videoeditor.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.onion99.videoeditor.listvideoandmyvideo.ListVideoAndMyAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.listvideowithmymusic.ListVideoAndMyMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videotogif.ListVideoAndMyAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videojoiner.ListVideoAndMyAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.ListCollageAndMyAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.listmusicandmymusic.ListMusicAndMyMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.phototovideo.SelectImageAndMyVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocutter.VideoCutter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocompress.VideoCompressor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videotomp3.VideoToMP3ConverterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.AudioPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.audiovideomixer.AudioVideoMixer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.SelectMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onion99.videoeditor.VideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videomute.VideoMuteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.phototovideo.tablayout.HomeTab"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onion99.videoeditor.phototovideo.DisplayAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.phototovideo.SelectionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.phototovideo.MoiveMakerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocrop.VideoCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.fastmotionvideo.FastMotionVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.slowmotionvideo.SlowMotionVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videoreverse.VideoReverseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.SelectFrameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.VideoCollageMakerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.VideoCropAndCutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.SelectStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videosplitter.VideoSplitterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videorotate.VideoRotateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videoconverter.VideoConverteractivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videojoiner.GallaryListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videojoiner.GallaryPhotosActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videojoiner.VideoJoinerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videojoiner.AddAudioActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videotogif.VideoToGIFActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.GIFPreviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videomirror.VideoMirrorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.audiocompress.AudioCompressorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.audioJoin.AudioJoinerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.audiocutter.MP3CutterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videowatermark.VideoWatermarkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videotoimg.VideoToImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.onion99.videoeditor.videocollage.SelectMusicActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid"/>
    </application>

</manifest>